* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.filtersWrapper {
    width: 900px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border: 1px solid #000;
    margin-top: 50px;
    padding: 50px;
}

#x0, #y0, #x1, #y1 {
    width: 70px;
    height: 25px;
}

#myCanvas {
    width: 900px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 1px solid #000;
}
